<html>
<head></head>
<body>
<div id="fb-root">TEST</div>
<script>

</script>
<fb:login-button show-faces="true" width="500" max-rows="1"></fb:login-button>

<button class="logout">Logout</button>
<button class="facebookLogin">Post to Facebook</button>
</body>
</html>