html {
  /*background-image: url('http://imgur.com/fun4Z8W.jpg');*/
  background-size: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
}

html, body  {
  height: 100%;
  widght: 100%;
  margin: 0px;

}

button {
  margin: 2px 0 2px 0;
  height: 40px;
  width: 80px;
  background-color: #27ae60;
  border-radius: 3px;
  border: none;
  font-size: 0.9em;
}

#map-canvas{
   height: 93%;
   margin: 0px;
}

#results-canvas, #newresults-canvas {
  height: 95%;
  margin: 0px;
  padding-top: 0;
}

#body {
  margin: auto 0;
}

#result .user-preference {
  text-align: center;
}

#result .user-preference form {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100px;
}

#result .user-preference .yes {
  text-align: center;
  background-color: #2980b9;
}

#result .user-preference .no {
  text-align: center;
  background-color: #c0392b;
}



/*http://imgur.com/J5AvSW4.jpg*/
/*http://imgur.com/MWY0kuL.jpg*/
/*http://imgur.com/U1PHgKa.jpg*/
/*http://imgur.com/fun4Z8W.jpg*/
/*===============================*/
            /*USER LOGIN*/
/*===============================*/


.facebookLogin{
  background-color: #4CA378; /*#4c66a3 */
  height: 80px;
  width: 300px;
  border-radius: 2px;
  left: 50%;
  top: 30%;
  margin: 0 auto;
  margin-top: -50px;
  margin-left: -100px;
  border: 0;
  position: fixed;
  /*text style*/
  text-align: center;
  font-size: 6.2em;
  margin-top: 1px;
  color: white;
  font-weight: 900;
  line-height: 1;
}

.facebookLogin:hover {
  background-color: #738ABE;
}

.logout{
  background-color: #4CA378; /*#4c66a3 #4CA378*/
  height: 80px;
  width: 300px;
  border-radius: 2px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  margin-top: -50px;
  margin-left: -100px;
  border: 0;
  /*text style*/
  text-align: center;
  font-size: 3.0em;
  margin-top: 1px;
  color: white;
  font-weight: 900;
}

.logout:hover {
  background-color: #738ABE;
}

#fb-root {
  color: #4c66a3;
}


/*===============================*/
            /*Donations*/
/*===============================*/

.donate{
  height: 40px;
  width: 120px;
  border-radius: 2px;
  position: fixed;
  left: 50%;
  top: 70%;
  margin: 0 auto;
  border: 0;
  /*text style*/
  text-align: center;
  font-size: 3.0em;
  margin-top: 1px;
  color: white;
  font-weight: 900;
}

/*===============================*/
            /*Me So Hungry*/
/*===============================*/

.hungry button {
  /*button styling*/
  background-color: #4CA378;
  height: 80px;
  width: 300px;
  border-radius: 2px;
  position: fixed;
  left: 50%;
  top: 40%;
  margin: 0 auto;
  margin-top: -50px;
  margin-left: -100px;
  border: 0;
  /*text styling*/

  font-size: 2.0em;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.hungry:hover {
  background-color: #DE7367;
}

/*===============================*/
            /*NAVBAR*/
/*===============================*/

nav {
  height: 65px;
  width: 100%;
  background-color: #4CA378; /*#4c66a3 #4CA378*/
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 5%;
}

ul .wootstrap-home-icon{
  text-align: left;
  font-weight: bold;
  color: #ecf0f1;
}

li .wootstrap-home-icon{
  text-align: right;
  font-weight: bold;
  line-height: 1;
}

ul {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  height: 55px;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline;
  margin: 0;
  padding-left: 10px;
  font-size: 2.5em;
}

li a {
  text-decoration: none;
}


/*===============================*/
            /*RESULT*/
/*===============================*/

#result {
  position: fixed;
  left: 50%;
  top: 90%;
  margin: 0 auto;
  margin-top: -50px;
  margin-left: -100px;
  border: 0;
  font-size: 1.3em;
}

#result {
  background-color: #4CA378;
  height: 250px;
  width: 300px;
  border-radius: 2px;
  position: fixed;
  top: 35%;
}

#result p {
  text-align: center;
  line-height: 1;
  font-size: 1.2em;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

#result h3 {
  text-align: center;
}

#result p a {
  text-align: center;
  font-size: 1.0em;
  color: white;
  font-weight: bold;
  font-style: italic;
}


/*===============================*/
            /*SELECTIon*/
/*===============================*/

#selection {
  position: fixed;
  left: 50%;
  top: 80%;
  margin: 0 auto;
  margin-top: -100px;
  margin-left: -100px;
  border: 0;
  font-size: 1.3em;
}

#selection {
  opacity:0.9;
  background-color: #4CA378;
  height: 300px;
  width: 450px;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
}

#selection p {
  text-align: center;
  line-height: 1;
  font-size: 0.9em;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

#selection p a {
  text-align: center;
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  font-style: italic;
}

/*===============================*/
            /*NOW LOGIN*/
/*===============================*/

.now {
  background-color: #27ae60;
  position: fixed;
  left: 50%;
  top: 70%;
  margin: 0 auto;
  margin-top: -50px;
  margin-left: -100px;
  border: 0;
  height: 70px;
  width: 150px;
  border-radius: 2px;
}

.now p {
  text-align: center;
  font-size: 2.0em;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.now:hover {
  background-color: #64DC97;
}

.footer {
  position: relative;
  bottom: 90%;
}

#footer {
  height: 75px;
  width: 100%;
  background-color: #4CA378; /*#4c66a3 #4CA378*/
  position: absolute;
  top: ;
  left: 0;
}

#footer p a {
  color: white;
  font-size: 0.9em;
  line-height: 0.5;
}

#footer p {
  color: white;
  font-size: 1.0em;
  line-height: 0.5;
}
/*===============================*/
            /* MEDIA QUERIES */
/*===============================*/

@media (max-width: 640px) and (max-height: 1136px) {
  body {
    height: 100%;
  }
  .facebookLogin {
    width: 200px;
    height: 60px;
    font-size: 4.1em;
  }
  .logout {
    width: 200px;
    height: 60px;
    font-size: 2.0em;
  }
  #footer {
    padding-left: 10px;
    margin-top: -4%;
    height: 55px;
  }
  nav {
    height:50px;
  }
  ul {
    height: 50px;
    padding-top: 10px;
  }
  li {
    font-size: 2.0em;
  }
  #footer p {
    font-size: 0.9em;
    line-height: 0.5;
  }
  #footer p a {
    font-size:  0.9em;
    line-height:  0.5;
  }
  .hungry button {
  width: 200px;
  height: 70px;
  font-size: 1.5em;
  }

}


@media (max-width: 640px) and (max-height: 960px) {
  body {
    height: 100%;
  }
  .facebookLogin {
    width: 180px;
    height: 50px;
    font-size: 3.9em;
  }
  .logout {
    width: 180px;
    height: 50px;
    font-size: 1.8em;
  }
  #footer {
    padding-left: 10px;
    margin-top: -4%;
    height: 55px;
  }
  nav {
    height:50px;
  }
  ul {
    height: 50px;
    padding-top: 10px;
  }
  li {
    font-size: 2.0em;
  }
  #footer p {
    font-size: 0.9em;
    line-height: 0.5;
  }
  #footer p a {
    font-size:  0.9em;
    line-height:  0.5;
  }
  .hungry button {
  width: 200px;
  height: 70px;
  font-size: 1.5em;
  }
}