<%= form_tag "/places", method: 'post', :class => "hungry" do%>
<<<<<<< HEAD
<%= button_tag("Me So Hungry!", :class => "helpMeButton") %>
=======
form t
<%= button_tag("Help me!", :class => "helpMeButton") %>
>>>>>>> merging from master
<% end %>



<div id='hidden' ></div>