<script>
 showPosition();

  function showPosition(){
     Destination = new google.maps.LatLng($('#latitude').text(), $('#longitude').text())

    var mapOptions = {
        zoom: 19,
        center: Destination
    };

    map = new google.maps.Map(document.getElementById('results-canvas'), mapOptions);

    var marker = new google.maps.Marker({
      position: Destination,
      map: map,
      title: $('#restName').text()
    });
  }


  var position = navigator.geolocation.getCurrentPosition(showDirections)

  function showDirections(position){
    var request = {
      origin: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
      destination: Destination,
      travelMode: google.maps.TravelMode.WALKING
    }
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsServce = new google.maps.DirectionsService();
    directionsServce.route(request, function(result,status){
      directionsDisplay.setDirections(result)
      directionsDisplay.setMap(map);
    })
  }

</script>
<div id="results-canvas"></div>

<div id='result'>
    <h3>Your only choice:</h3>
    <% rest = place %>
    <p id="restName"><%= rest.name %> Restaurant</p>
  <p style="visibility: hidden;" id="latitude"><%=  rest.latitude %></p>
  <p style="visibility: hidden;" id="longitude"><%=  rest.longitude %></p>
</div>



